.hidden {
    display: none;
}

.show {
    display: block;
}

/* .error {
    display: block;
    color: red;
   
} */

/* .cat-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 14px;

} */


